
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-mobile-1:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-globe-1:before { content: '\e805'; } /* '' */
.icon-file-pdf:before { content: '\e806'; } /* '' */
.icon-up-open-big:before { content: '\e807'; } /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-linkedin-rect:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */