form{
  margin-left: 10%;
}

input, textarea{
  width: 90%;
  color: black;
}

label{
  margin-bottom: 10%;
}

input{
  height: 30px;
  margin: 30px;
}

.sendButton{
  width: auto;
}

footer{
  color: white;
}

div.coord{
  text-align:center
}
